<h1>Copy to Clipboard</h1>
<p>Using an easy to use clipboard.js javascript library to copy anything, to a user's clipboard.</p>

<!-- Target -->
<input type="text" id="weburl" value="https://bhushanjadhav.info/">

<!-- Trigger -->
<button id="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#weburl">Copy</button>
